@using lab4.Models
@model IEnumerable<InventoryLog>

<h2>Lịch sử kho</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Thay đổi</th>
            <th>Sau thay đổi</th>
            <th>Loại</th>
            <th>Thời gian</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var l in Model)
        {
            <tr>
                <td>@l.Product.Name</td>
                <td>@l.QuantityChange</td>
                <td>@l.QuantityAfter</td>
                <td>@l.ActionType</td>
                <td>@l.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
